<div class="product-page container">
    <center><h4 style="margin-top:50px;">{{search.ptitle}}</h4></center><br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{search.mimage}}" class="img-resposives" style="border:1px solid rgb(202, 199, 199);border-style: outset">
        </div>
        <div style="padding:10px;margin-top:50px;margin-left:50px;height:80px;background-color: rgb(243, 229, 229);" class="col-sm-6">
            <div style="float:right;">
                <a href="{{search.purl}}" target="_blank"><img class="img-resposive" src="/app/assets/images/fkbuy.png" width="120px" height="60px;"></a>
            </div>
            <div style="float:left">
                <h2>{{search.pfsp}}Rs</h2>
                <s>{{search.pmrp}}</s>
            </div>
        </div>
    </div>
</div>